<div class="container">      
    <div class="row">
        <div class="input-field col s2">            
            <i class="material-icons prefix">info_outline</i>
            <input id="id_Usuario" type="text" ng-disabled="true" ng-model="user.id_User">            

        </div>
        <div class="input-field col s10">
            <i class="material-icons prefix">person</i>
            
            <input id="nome" type="text" ng-model="user.name" placeholder="Nome">
            
        </div>
    </div>
    <div class="row">
        <div class="input-field col s2">          
            <i class="material-icons prefix">info_outline</i>
            <input type="date" class="datepicker" ng-model="user.birthday_Date">
            <label>Data</label>
        </div>
        <div class="input-field col s5">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" class="validate" ng-model="user.email">
            <label for="email" data-error="Formato invalido"
                   data-success="Formato valido">Email</label>
        </div>
        <div class="input-field col s5">
            <i class="material-icons prefix">phone</i>
            <input id="telefone" type="number" ng-model="user.phone.phone">
            <label for="telefone">Telefone</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">info_outline</i>
            <input id="logradouro" type="text" ng-model="user.address.address">
            <label for="logradouro">Logradouro</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s5">
            <i class="material-icons prefix">info_outline</i>
            <input id="complemento" type="text" ng-model="user.address.supplement">
            <label for="complemento">Complemento</label>
        </div>
        <div class="input-field col s5">
            <i class="material-icons prefix">info_outline</i>                
            <input id="cidade" type="text" ng-model="user.address.district_Address">
            <label for="cidade">Cidade</label>
        </div>
        <div class="input-field col s2">                       
            <select class="" ng-model="user.address.uf_Address">
                <option value="1" ng-disabled="false" ng-selected="true">UF</option>
                <option ng-repeat="estado in estados" value="{{estado.Sigla}}">
                    {{estado.Sigla}}
                </option>
            </select>
        </div>
    </div>
    <pre>{{user|json}}</pre>
    <div class="row center">
        <a class="waves-effect waves-light btn blue darken-4" ng-click="chooseOption(user)">            
            Salvar            
        </a>
        <a href="#/home" class="waves-effect waves-light btn  amber darken-4">          
            Cancelar
        </a>
    </div>
</div>      
<script src="lib/materialize/js/script.js" type="text/javascript"></script>
