<br>
<div class="container">      
    <div class="row">
        <div class="col s11">
            <nav class="transparent">
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" placeholder="O que esta buscando?" 
                                   ng-model="search.name_User"
                                   ng-required="true">
                            <i class="material-icons" ng-click="getUserbyName(search.name_User)">
                                search</i>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
        <div class="col s1">
            <a class="btn-floating btn-large waves-effect waves-light blue darken-1" href="#/cadastrar">
                <i class="material-icons">add</i></a>
            <!-- 
              <a class="waves-effect waves-light btn">Novo Usuário</a>
            -->
        </div>
    </div>  
    <div class="row">
        <div class="col s12">
            <table class="bordered highlight responsive-table">
                <thead>
                    <tr>                        
                        <th class="center" data-field="id">ID Usuario</th>
                        <th class="center" data-field="name">Nome</th>
                        <th class="center" data-field="data_Nascimento">Data Nascimento</th>
                        <th class="center" data-field="telefone">Telefone</th>
                        <th class="center" data-field="logradouro">Logradouro</th>                        
                        <th class="center" data-field="cidade">Cidade</th>
                        <th class="center">Editar</th>
                        <th class="center">Remover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="users in users">                                              
                        <td class="center">{{users.id_User}}</td>
                        <td class="center">{{users.name}}</td>
                        <td class="center">{{users.birthday_Date}}</td>
                        <td class="center">{{users.phone.phone}}</td>
                        <td class="center">{{users.address.address}}</td>
                        <td class="center">{{users.address.district_Address}}</td>                        
                        <td class="center">                            
                            <i class="material-icons prefix"
                                ng-click="gerUserForm(users.id_User)"
                               >search</i>
                        </td>
                        <td  class="center">
                            <i class="material-icons prefix" 
                               ng-click="removeUser(users.id_User)">
                                delete
                            </i>                       
                        </td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>                
</div>